.layout{
    display: grid;
    gap: 3px;
    grid-template-columns: 1fr 1fr;
}
.option-bar{
    display: flex;

    flex-direction: column;
    align-items: center;
    background-color: rgb(196, 196, 196);
    
    border-radius: 2px;
}
body{
    background-color: rgb(75, 123, 190);
}

.option{
    font-size: larger ;
    margin: 10%;
    border: 2px solid black;
    font-weight: bold;
    background-color: aquamarine;

}
.button:hover, .color:hover, .download:hover, .size:hover{
    background-color:#20b88f;
    transition: 0.3s;
}
.dim-col{
    float: right;
    width: 33%;
    justify-content: center;
    align-items: center;
}
.size{
    margin-top: 30px;
    padding-top: 2.5%;
    font-size: 25px;
    height: 8%;
    width: 40%;
    text-align: center;
    justify-content: center;
    background-color: antiquewhite;
    border: 2px solid black;
}
.width{
    height: 70%;
    width: 150px;
    font-size: 25em;
    padding-left: 1em;
}
.middle{
    height: 60%;
    width: 70%;
    display: grid;
    
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.download{
    margin-top: 8%;
    font-style: oblique;
    font-size: larger;
    width: 80%;
    height: 10%;
    text-align: center;
    border-radius: 2px;
    font-weight: bold;
    background-color: #20b88f;
}
.container{
    --h: 6;
    --w: 6;
    float: right;
    background-color: rgb(123, 123, 255);
    display: grid;
    height: 760;
    grid-template-columns: repeat(var(--w), 1fr);
    grid-template-rows: repeat(var(--h), 1fr);
    aspect-ratio: 1;
    gap: 1px;
    padding: 3px;
    border-radius: 2px;
}

.color{
    font-size: 25px;
    padding-top: 25%;
    padding-left: 10%;
    justify-content: center;
    align-content: center;
}

.pixel{
    --y: 0;
    --x: 0;
    --red: 255;
    --green: 255;
    --blue: 255;
    background-color: white;
    border-radius: 1px;
}
